# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

bower.json
config.xml
gulpfile.js
hooks/
ionic.project
package.json
platforms/
plugins/
resources/
scss/
