/* Empty. Add your own CSS if you like */

div{
    /*width: 200px;  */
    word-break: break-all;
}

ion-list ion-item {
    border-style:none !important;
}

ion-list a {
    padding: 16px 16px 16px 16px !important;
}

ion-item #event-list-item{
    height: 120px;
    width:100%;
    border-radius: 10px;
    /*padding: 20px; */
    /*background-position: left top;*/
    overflow:hidden;
    word-wrap: break-word;
    /*background: url(paper.gif);
    background-repeat: repeat;
    width: 200px;
    height: 150px; */

}

ion-item #event-list-item img{
    /*position: absolute;*/
    top: -100px;
    width:100%;
    
    /*left: -100px;*/

}

ion-item #event-list-item h2 { 
   position: absolute; 
   top: 25px; 
   left: 50px; 
   /*width: 100%; */
    background-color:aliceblue;
    opacity: 0.75;
    
    /*font-size: 16px;*/
    /*font-weight: 350;*/
}